<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TRex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
   
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">TRex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
             <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link" href="/game"><i class=""></i> Jogar</a>
            </li>
             <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link" href="/curso"><i class=""></i> Curso</a>
            </li>
             <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link" href="/curso/create"><i class=""></i>Adicionar Curso</a>
            </li>
            <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link" href="/sobre"><i class=""></i> Sobre</a>
            </li>
            <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link" href="/area"><i class=""></i> Área</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-md-auto">
              <li class="nav-item">
                <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/albertvinicius10/"><i class="fa-brands fa-github"></i>GitHub</a>
              </li>
              <li class="nav-item">
                <a target="_blank" rel="noopener" class="nav-link" href="https://twitter.com/albertvinicius_"><i class="bi bi-twitter"></i> Twitter</a>
              </li>
              <li class="nav-item">
              {{#if logado}}
                <a 
                class="nav-link "
                href="/logout">
                  <span>Logout</span>
                </a>
              {{else}}
                <a 
                class="nav-link "
                href="/login">
                <span>Login</span>
                </a>
              {{/if}}
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 100px;">
        {{{body}}}
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-end"><a href="#top">Back to top</a></li>
              <li><a href="https://blog.bootswatch.com/">Blog</a></li>
              <li><a href="https://blog.bootswatch.com/rss/">RSS</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch">GitHub</a></li>
              <li><a href="../help/#api">API</a></li>
              <li><a href="../help/#donate">Donate</a></li>
            </ul>
            <p>Made by <a href="https://github.com/albertvinicius10">Albert Vinicius</a>.</p>

          </div>
        </div>
      </footer>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>