<h2>Login</h2>
<form action="/login" method="post">

<div class="form-group">
    <label class="col-form-label mt-4" for="email">Seu Email</label>
    <input 
    type="text" 
    class="form-control" 
    placeholder="fulano@icomp.ufam.edu.br" 
    id="email"
    name="email">
</div>

<div class="form-group">
<label for="senha" class="form-label mt-4">Senha</label>
<input type="password" class="form-control" id="senha" name="senha" placeholder="Password" autocomplete="off">
<button type="submit" class="btn btn-primary mt-4">Entrar</button>
</div>
</form>