<h2>Criação de Conta</h2>
<form action="/signup" method="post">
<div class="form-group">
    <label class="col-form-label mt-4" for="nome">Seu nome</label>
    <input 
    type="text" 
    class="form-control" 
    placeholder="Fulano de tal" 
    id="nome"
    name="nome">
</div>
<div class="form-group">
    <label class="col-form-label mt-4" for="email">Seu Email</label>
    <input 
    type="text" 
    class="form-control" 
    placeholder="fulano@icomp.ufam.edu.br" 
    id="email"
    name="email">
</div>
<div class="form-group">
    <label for="cursos" class="form-label mt-4">Cursos</label>
    
    <select class="form-select" id="exampleSelect1">
        {{#each cursos}}
        <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
    
</div>
<div class="form-group">
<label for="senha" class="form-label mt-4">Senha</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha" autocomplete="off">
</div>
</form>