<h2>Criação de Curso</h2>
<form action="/curso/create" method="post">
<div class="form-group">
    <label class="col-form-label mt-4" for="sigla">Sigla do Curso</label>
    <input 
    name="sigla"
    type="text" 
    class="form-control" 
    placeholder="Informe a sigla do curso" 
    id="sigla">
</div>
<div class="form-group">
    <label class="col-form-label mt-4" for="nome">Nome do Curso</label>
    <input 
    name="nome"
    type="text" 
    class="form-control" 
    placeholder="Informe o nome do curso" 
    id="area">
</div>

<div class="form-group">
    <label for="descricao" class="form-label mt-4">Descrição do Curso</label>
    <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
</div>

<fieldset class="form-group">
    <legend class="mt-4">Área de Conhecimento</legend>
        <div class="form-check">
            <input class="form-check-input" 
            type="radio" 
            name="areaId"
            id="areaId1"
            value="1"
            checked="">
            <label class="form-check-label" for="optionsRadios1">
            Ciências Exatas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" 
            type="radio" 
            name="areaId"
            id="areaId2" 
            value="2">
            <label class="form-check-label" for="optionsRadios2">
            Ciências Humanas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" 
            type="radio" 
            name="areaId" 
            id="areaId3" 
            value="3">
            <label class="form-check-label" for="optionsRadios3">
            Ciências Biológicas
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Enviar</button>
</fieldset>
</div>
</form>